EEI3346-WebDevelopment/XML/practice.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs = "https://www.w3.org/2001/XMLSchema">

  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="school" type="xs:string"/>
              <xs:element name="age" type="xs:integer"/>
              <xs:element name="grade" type="xs:string"/>
            </xs:sequence>
          </complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
